*

!.gitignore
!LICENSE
!README.md
!README_EN.md

!pyproject.toml

!train_RCCNet.py
!train_RotNet.py
!train_RotNetR.py
!test_RCCNet.py
!test_RotNet.py
!test_RotNetR.py
!test_captcha.py
!server.py

!rotate_captcha_crack
!rotate_captcha_crack/**

__pycache__
