__*

datasets
models

*.txt
*.jpg
*.png
*.code-workspace
*.egg-info

traditional_method.py

!figures
!figures/**
!rotate_captcha_crack
!rotate_captcha_crack/**

!models/1
!models/1/**
